:root {
    --clr-primary: rgb(19, 25, 34);
    --clr-secondary: rgba(16, 16, 16, 0.5);
    --clr-light: rgb(219, 233, 233);
    --clr-warning: rgba(238, 6, 6, 0.5);
}
  
*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-primary);
}

#dots {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#help {
    position: absolute;
    background: none;
    width: 5%;
    height: 5%;
    color: transparent;
    -webkit-text-stroke: 2px rgb(39, 51, 70);
    z-index: 2;
    font-size: 13vh;
    text-align: center;
    font-family: monospace;
    transition: 500ms;
}

#help:hover {
    transform: rotate(5deg);
}

#info {
    position: absolute;
    top: 40%;
    background-color: rgba(8, 11, 15, 0.5);
    height: 10%;
    width: 17%;
    text-align: center;
    font-family: monospace;
    font-size: 2.8vh;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(39, 51, 70);
    left: 1.9%;
    top: 18%;
    opacity: 0;
    transition: 500ms;
}

#thingy {
    position: absolute;
    background: none;
    top: -20%;
    z-index: 3;
    height: 11.5%;
    border-bottom: 11.5px solid rgba(8, 11, 15, 0.5);
    border-right: 12px solid transparent;
}

#computerVisualizationArea {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    z-index: -3;
}

#title {
    position: absolute;
    top: 22%;
    left: 20%;
    height: 7%;
    font-size: 5.5vh;
    font-family: monospace;
    color: rgb(39, 51, 70);
    text-shadow: black;
    overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-weight: 700;
    border-right: 2px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 55% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

#startBT {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 16%;
    height: 12%;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    border-bottom: 10px solid rgb(8, 11, 15);
    font-family: monospace;
    font-size: 4vh;
    text-align: center;
    border-radius: 4px;
    color: rgb(39, 51, 70);
    transition: 500ms;
    animation: appear 5s steps(30, end)
}

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

#app {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 0%;
    opacity: 0;
    transition: 500ms;
}

#sidebar {
    position: absolute;
    width: 32%;
    height: 100%;
}


#searchInput {
    position: absolute;
    left: 5%;
    width: 64%;
    height: 7%;
    border-radius: 4px;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    font-size: 3.2vh;
    font-family: monospace;
    color: rgb(39, 51, 70);
}

#searchInput:focus ~ .suggestions {
    opacity: 1;
}

.suggestions {
    position: absolute;
    left: 5%;
    top: 8%;
    width: 64%;
    border-radius: 4px;
    font-size: 2vhvh;
    background-color: rgba(0, 0, 0, 0.301);
    font-family: monospace;
    color: rgb(73, 66, 66);
    overflow-y: auto;
    opacity: 0;
    transition: 500ms;
}

ul {
    display: flexbox;
    list-style-type: none;
    text-align: left;
    width: 80%;
    height: 100%;
    left: -20%;
}

li {
    position: sticky;
    height: 25%;
    width: 100%;
    text-align: left;
    word-wrap: normal;
    white-space: pre-line;
    margin-bottom: 5%;
}


#visualizeBT {
    position: absolute;
    left: 70%;
    width: 31%;
    height: 7%;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    font-family: monospace;
    font-size: 3.3vh;
    text-align: center;
    border-radius: 4px;
    color: rgb(39, 51, 70);
    transition: 500ms;
}

#visualizationArea {
    position: absolute;
    left: 34%;
    width: 75%;
    height: 100%;
}

#source {
    position: absolute;
    width: 14%;
    height: 5%; 
    left: 28%;
    top: 47%;
    opacity: 0;
    transition: 200ms;
}

.arrow {
    position: absolute;
    background-color: rgb(66, 71, 78);
    width: 1.2%;
    height: 175%;
    z-index: 0;
    transition: 200ms;
}

#arrowContainer {
    opacity: 0;
    transition: 600ms;
}

#arrow1 {
    position: absolute;
    left: 4.5%;
    top: -140%;
}

#arrow2 {
    position: absolute;
    left: 4.5%;
    top: 115%;
    transform:rotate(180deg);
    
}

#arrow3 {
    transform: rotate(58deg);
    position: absolute;
    top: -80%;
    left: 32%;
    height: 182%;
}

#arrow4 {
    transform: rotate(-58deg);
    position: absolute;
    top: -80%;
    left: -23%;
    height: 182%;
}

#arrow5 {
    transform: rotate(-121deg);
    position: absolute;
    top: 48%;
    left: -23%;
    height: 182%;
}

#arrow6 {
    transform: rotate(121deg);
    position: absolute;
    top: 48%;
    left: 32%;
    height: 182%;
    animation: length 0.5s steps(30, end);
}

@keyframes length {
    from {
        height: 0%
    }
    to {
        height: 182%
    }
}



#tip {
    position: absolute;
    left: -120%;
    border: 1.2px solid rgb(66, 71, 78);
    border-width: 0 1.2px 1.2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}



#circle {
    position: absolute;
    top: 55%;
    width: 10%;
    height: 45%;
    background-color: gray;
    border-radius: 50%;
}

#ballTitle {
    position: fixed;
    width: 15%;
    height: 5%;
    color: rgb(39, 51, 70);
    font-family: monospace;
    font-size: 2vh;
    z-index: 2;
    transition: 500ms;
}

#linkTitle {
    position: fixed;
    width: 15%;
    height: 5%;
    color: rgb(39, 51, 70);
    font-family: monospace;
    font-size: 2vh;
    z-index: 2;
    transition: 500ms;
}

#ballTitle:hover {
    color: orange;
}

#linkTitle:hover {
    color: orange;
}

#homePage {
    position: absolute;
    opacity: 1;
    width: 98%;
    height: 95%;
    z-index: 7;
}

.nodeClass {
    position: absolute;
    width: 14%;
    height: 5%; 
    float: left;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    transition: 700ms;
    animation: spawn 0.5s steps(30, end)
}
