:root {
    --clr-primary: #151515;
    --clr-secondary: rgba(16, 16, 16, 0.5);
    --clr-light: rgb(163, 163, 163);
    --clr-warning: rgba(238, 6, 6, 0.5);
}
  
*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-primary);
    transition: 300ms;
}

#container {
    position: absolute;
    top: 15.5%;
    left: 1.5%;
    background: none;
    border: 2.6px solid rgb(179, 179, 179);
    width: 3.3%;
    height: 3.2%;
    border-radius: 50px;
    z-index: 23;
}

#slider {
    position: absolute;
    top: -24%;
    left: -14%;
    width: 60%;
    height: 150%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 24;
    transition: 500ms;
}

#moon {
    position: absolute;
    fill: var(--clr-primary);
    top: 19%;
    left: 17%;
    width: 67%;
    height: 67%;
}


#help {
    position: absolute;
    background: none;
    width: 5%;
    height: 5%;
    color: transparent;
    -webkit-text-stroke: 1.2px #fff;
    z-index: 2;
    font-size: 13vh;
    text-align: center;
    font-family: monospace;
    transition: 500ms;
    z-index: 21;
}

#help:hover {
    transform: rotate(5deg);
}

#help:active ~ #info {
    opacity: 1;
}  

#info {
    position: absolute;
    display: table-cell;
    top: 40%;
    background-color: rgba(8, 11, 15, 0.5);
    height: 12%;
    width: 17%;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    font-family: monospace;
    font-size: 2vh;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #E1E2E2;
    left: 6%;
    top: 4%;
    opacity: 0;
    transition: 500ms;
}

#computerVisualizationArea {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    z-index: -3;
}

#title {
    position: absolute;
    top: 22%;
    left: 20%;
    height: 7%;
    font-size: 5.5vh;
    font-family: monospace;
    font-weight: bolder;
    color: #fff;
    text-shadow: black;
    overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-weight: 700;
    border-right: 2px solid rgb(255, 218, 147);
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 55% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(236, 24, 67); 
    }
}

#startBT {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 16%;
    height: 12.5%;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    border-bottom: 12px solid rgb(8, 11, 15);
    font-family: monospace;
    font-size: 4vh;
    text-align: center;
    border-radius: 4px;
    color: #E1E2E2;
    transition: 500ms;
    animation: appear 5s steps(30, end)
}

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    background-color: none;
    width: 6px;
    height: 5px;
    right: 5px
}
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 10px;
    opacity: 0.5;
}

#app {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 0%;
    opacity: 0;
    transition: 500ms;
}

#sidebar {
    position: absolute;
    width: 32%;
    height: 100%;
}


#searchInput {
    position: absolute;
    left: 5%;
    width: 64%;
    height: 7%;
    background-color: rgba(48, 48, 48, 0.527);
    border: none;
    border-radius: 4px;
    border: 2px solid rgb(12, 12, 12);
    color: #fff;
    font-size: 3.2vh;
    font-family: monospace;
}

#searchInput:focus ~ .suggestions {
    opacity: 1;
}

.suggestions {
    position: absolute;
    left: 5%;
    top: 8%;
    width: 64%;
    border-radius: 4px;
    font-size: 2vhvh;
    background-color: rgba(0, 0, 0, 0.301);
    font-family: monospace;
    color: rgb(104, 94, 94);
    overflow-y: auto;
    opacity: 0;
    transition: 500ms;
}

ul {
    display: flexbox;
    list-style-type: none;
    text-align: left;
    width: 80%;
    height: 100%;
    left: -20%;
}

li {
    position: sticky;
    height: 25%;
    width: 120%;
    text-align: left;
    word-wrap: normal;
    white-space: pre-line;
    margin-bottom: 5%;
    overflow-wrap: break-word;
}


#visualizeBT {
    position: absolute;
    left: 87%;
    width: 36%;
    top: 0.5%;
    height: 5%;
    font-family: monospace;
    font-size: 4.3vh;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    transition: 500ms;
    letter-spacing: 1px;
    z-index: 22;
}

#visualizeArrow {
    position: absolute;
    left: 127%;
    width: 8%;
    top: 0.8%;
    height: 5%;
    font-family: monospace;
    font-size: 4.3vh;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    transition: 500ms;
    letter-spacing: 1px;
}

#visualizeBT:hover {
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    word-spacing: 3.2px;
    left: 92%;
}

#visualizeBT:hover ~ #visualizeArrow {
    left: 133%;
}


#redo {
    position: absolute;
    left: 114.9%;
    width: 25%;
    height: 7%;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    font-family: monospace;
    font-size: 3vh;
    text-align: center;
    border-radius: 4px;
    color: #E1E2E2;
    transition: 500ms;
    opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#numOfNodes {
    position: absolute;
    left: 71%;
    width: 12%;
    height: 7%;
    font-family: monospace;
    font-size: 3.8vh;
    text-align: center;
    background-color: rgba(48, 48, 48, 0.527);
    border: none;
    border-radius: 4px;
    border: 2px solid rgb(12, 12, 12);
    color: #fff;
    transition: 500ms;
    animation: click;
}

#numInfo {
    position: absolute;
    left: 70%;
    top: 8%;
    width: 40%;
    height: 5%;
    border-radius: 4px;
    font-size: 3.2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
    font-family: monospace;
    color: rgb(73, 66, 66);
    opacity: 0;
    transition: 500ms;
}

#numOfNodes:focus ~ #numInfo {
    opacity: 1;
}


#visualizationArea {
    position: absolute;
    left: 34%;
    width: 75%;
    height: 100%;
}

#source {
    position: absolute;
    width: 14%;
    height: 5%; 
    left: 28%;
    top: 47%;
    opacity: 0;
    transition: 200ms;
}

.arrow {
    position: absolute;
    background-color: rgb(66, 71, 78);
    width: 1.2%;
    height: 175%;
    z-index: 0;
    transition: 200ms;
}

#arrowContainer {
    transition: 600ms;
}

#arrow1 {
    position: absolute;
    left: 4.5%;
    top: -140%;
    opacity: 0;
    width: 1.4%;
}

#arrow6 {
    position: absolute;
    left: 4.5%;
    top: 115%;
    transform:rotate(180deg);
    opacity: 0;
    width: 1.4%;
}

#arrow3 {
    transform: rotate(58deg);
    position: absolute;
    top: -80%;
    left: 32%;
    height: 182%;
    opacity: 0;
}

#arrow2 {
    transform: rotate(-58deg);
    position: absolute;
    top: -80%;
    left: -23%;
    height: 182%;
    opacity: 0;
}

#arrow4 {
    transform: rotate(-121deg);
    position: absolute;
    top: 48%;
    left: -23%;
    height: 182%;
    opacity: 0;
}

#arrow5 {
    transform: rotate(121deg);
    position: absolute;
    top: 48%;
    left: 32%;
    height: 182%;
    opacity: 0;
}

#tip {
    position: absolute;
    left: -120%;
    border: 1.2px solid rgb(66, 71, 78);
    border-width: 0 1.2px 1.2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}



#circle {
    position: absolute;
    top: 55%;
    width: 10%;
    height: 45%;
    background-color: gray;
    border-radius: 50%;
    z-index: 20;
}

#ballTitle {
    position: fixed;
    width: 15%;
    height: 5%;
    color: #525961;
    font-family: monospace;
    font-size: 2vh;
    z-index: 2;
    transition: 500ms;
}

#linkTitle {
    position: fixed;
    width: 15%;
    height: 5%;
    color: rgb(104, 94, 94);
    font-family: monospace;
    font-size: 2vh;
    z-index: 2;
    transition: 500ms;
    text-decoration: none;
}

#ballTitle:hover {
    color: #FB8122;
}

#linkTitle:hover {
    color: #FB8122;
    z-index: 19;
}

.nodeClass {
    transition: 300ms;
}

#node1 {
    opacity: 0;
}

#node2 {
    opacity: 0;
}

#node3 {
    opacity: 0;
}

#node4 {
    opacity: 0;
}

#node5 {
    opacity: 0;
}

#node6 {
    opacity: 0;
}

#homePage {
    position: absolute;
    opacity: 1;
    width: 98%;
    height: 95%;
    z-index: 7;
}

.nodeClass {
    position: absolute;
    width: 14%;
    height: 5%; 
    float: left;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    transition: 700ms;
    animation: spawn 0.5s steps(30, end)
}

.classBox {
    position: absolute;
    left: -60%;
    top: -380%;
    width: 130%;
    height: 420%;
    border-radius: 4px;
    font-size: 3.2vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
    font-family: monospace;
    color: rgb(73, 66, 66);
    transition: 500ms;
}

#box {
    opacity: 0;
}

#circle:hover ~ #box {
    opacity: 1;
    z-index: 24;
}

#circle:hover ~ #linkTitle {
    opacity: 0;
}

#pfp {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 20%;
    height: 28%;
    border-radius: 50%;
    background-size: 100% 100%;
}

#name {
    position: absolute;
    width: 70%;
    height: 10%;
    left: 23.5%;
    top: 2%;
    font-size: 2vh;
    font-weight: normal;
    color: #E1E2E2;
    overflow-wrap: break-word;
}

#description {
    position: absolute;
    width: 95%;
    height: auto;
    left: 2%;
    top: 30%;
    font-size: 2vh;
    font-weight: normal;
    color: #E1E2E2;
    overflow-wrap: break-word;
}
