:root {
    --clr-primary: rgb(19, 25, 34);
    --clr-secondary: rgba(16, 16, 16, 0.5);
    --clr-light: rgb(219, 233, 233);
    --clr-warning: rgba(238, 6, 6, 0.5);
}
  
*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-primary);
}

#dots {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#help {
    position: absolute;
    background: none;
    width: 5%;
    height: 5%;
    color: transparent;
    -webkit-text-stroke: 2px rgb(39, 51, 70);
    z-index: 2;
    font-size: 13vh;
    text-align: center;
    font-family: monospace;
    transition: 500ms;
}

#help:hover {
    transform: rotate(5deg);
}

#info {
    position: absolute;
    top: 40%;
    background-color: rgba(8, 11, 15, 0.5);
    height: 10%;
    width: 17%;
    text-align: center;
    font-family: monospace;
    font-size: 2.8vh;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(39, 51, 70);
    left: 1.9%;
    top: 18%;
    opacity: 0;
    transition: 500ms;
}

#thingy {
    position: absolute;
    background: none;
    top: -20%;
    z-index: 3;
    height: 11.5%;
    border-bottom: 11.5px solid rgba(8, 11, 15, 0.5);
    border-right: 12px solid transparent;
}

#computerVisualizationArea {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    z-index: -3;
}

#title {
    position: absolute;
    top: 22%;
    left: 20%;
    height: 7%;
    font-size: 5.5vh;
    font-family: monospace;
    color: rgb(39, 51, 70);
    text-shadow: black;
    overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-weight: 700;
    border-right: 2px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 55% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

#startBT {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 16%;
    height: 12%;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    border-bottom: 10px solid rgb(8, 11, 15);
    font-family: monospace;
    font-size: 4vh;
    text-align: center;
    border-radius: 4px;
    color: rgb(39, 51, 70);
    transition: 500ms;
    animation: appear 5s steps(30, end)
}

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

#app {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 0%;
}

#sidebar {
    position: absolute;
    width: 32%;
    height: 100%;
}


#search {
    position: absolute;
    left: 5%;
    width: 64%;
    height: 7%;
    border-radius: 4px;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    font-size: 3.2vh;
    font-family: monospace;
    color: rgb(39, 51, 70);
}

#suggestions {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 64%;
    height: 64%;
    border-radius: 4px;
    font-size: 3.2vh;
    font-family: monospace;
    color: rgb(39, 51, 70);
    overflow-y: auto;
}

#visualizeBT {
    position: absolute;
    left: 70%;
    width: 31%;
    height: 7%;
    background-color: rgba(8, 11, 15, 0.5);
    border: 4px solid rgb(8, 11, 15);
    font-family: monospace;
    font-size: 3.3vh;
    text-align: center;
    border-radius: 4px;
    color: rgb(39, 51, 70);
    transition: 500ms;
}

#visualizationArea {
    position: absolute;
    left: 34%;
    width: 75%;
    height: 100%;
}

#source {
    position: absolute;
    width: 14%;
    height: 5%; 
    left:50%;
    top: 50%;

}

#circle {
    position: absolute;
    top: 55%;
    width: 10%;
    height: 45%;
    background-color: gray;
    border-radius: 50%;
}

#ballTitle {
    position: fixed;
    width: 100%;
    height: 50%;
    color: rgb(73, 73, 73);
    font-family: monospace;
    font-size: 2vh;
    z-index: 2;
}

#homePage {
    opacity: 0;
}

#node {
    position: absolute;
    width: 14%;
    height: 5%; 
    float: left;
    top: 38%;
    left: 50%;
    transition: 700ms;
    animation: spawn 0.5s steps(30, end)
}


